$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

.brand-logo {
    img {
        height: 50px;
        margin-top: 8px;
    }
}

#index-banner {
    .container {
        margin-top: 40px; 
    }
}

.compute-ontario {
    width: 180px;
    margin-top: 40px;
}

.compute-canada {
    width: 220px;
    margin-top: 45px;
}

dt {
    font-weight: bold;
}

.programme a, .programme span {
    margin-left: 10px; 
}

a {
    color: #827717;
}