<section class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="header center orange-text">2016 SHARCNET Winter Workshop on High Performance Computing</h1>

        <div class="row center">
            <h4 class="header col s12 light">Conestoga College Institute of Technology and Advanced Learning</h4>
            <h5>Kitchener, Ontario March 5-6</h5>
        </div>

        <div class="row center">
            <a href="#/register" class="btn-large waves-effect waves-light orange">Register Free</a>
        </div>
    </div>
</section>