<section class="section">
    <div class="container">
        <h2>Organization</h2>

        <dl>
            <dt>Organizer</dt>
            <dd>Dalibor Dvorski, Conestoga College Institute of Technology and Advanced Learning</dd>
            <dt>Instructors</dt>
            <dd>Jemmy Hu, SHARCNET</dd>
            <dd>Pawel Pomorski, SHARCNET</dd>
            <dt>Technical Support</dt>
            <dd>Aagam Jhaveri, In the Chat Communications</dd>
            <dd>Il Kim, NeuRecall</dd>
            <dd>Bobin Cherian, Conestoga College Institute of Technology and Advanced Learning</dd>
            <dd>Dewang Patel, Conestoga College Institute of Technology and Advanced Learning</dd>
            <dd>Emmanuel Santos, Conestoga College Institute of Technology and Advanced Learning</dd>
            <dd>Rui Geng, Conestoga College Institute of Technology and Advanced Learning</dd>
        </dl>

    </div>
</section>