<section class="section">
    <div class="container programme">
        <h2>Programme</h2>

        <dl>
            <dt>Day 1: Saturday, March 5</dt>
            <dd>09:00 - 10:30 <a href="/#programme/#unix">Introduction to the Unix Shell</a></dd>
            <dd>10:30 - 10:45 <span class="grey-text text-lighten-1">break</span></dd>
            <dd>10:45 - 12:15 <a href="/#programme/#unix">Introduction to the Unix Shell</a></dd>
            <dd>12:15 - 13:15 <span class="grey-text text-lighten-1">lunch break</span></dd>
            <dd>13:15 - 14:45 <a href="/#programme/#high">Introduction to High Performance Computing</a></dd>
            <dd>14:45 - 15:00 <span class="grey-text text-lighten-1">break</span></dd>
            <dd>15:00 - 16:30 <a href="/#programme/#high">Introduction to High Performance Computing</a></dd>
        </dl>

        <dl>
            <dt>Day 2: Sunday, March 6</dt>
            <dd>09:00 - 10:30 <a href="/#programme/#multi">Programming Shared-Memory Systems with Open Multi-Processing</a></dd>
            <dd>10:30 - 10:45 <span class="grey-text text-lighten-1">break</span></dd>
            <dd>10:45 - 12:15 <a href="/#programme/#multi">Programming Shared-Memory Systems with Open Multi-Processing</a></dd>
            <dd>12:15 - 13:15 <span class="grey-text text-lighten-1">lunch break</span></dd>
            <dd>13:15 - 14:45 <a href="/#programme/#interface">Programming Clusters with Message Passing Interface</a></dd>
            <dd>14:45 - 15:00 <span class="grey-text text-lighten-1">break</span></dd>
            <dd>15:00 - 16:30 <a href="/#programme/#interface">Programming Clusters with Message Passing Interface</a></dd>
        </dl>
    </div>
</section>

<section class="section">
    <div class="container">
        <h3>Course Outline</h3>

        <article>
            <h5 id="unix">Introduction to the Unix Shell</h5>
            <p>This class serves as an introduction to Linux, the Unix-like operating system that runs on all SHARCNET systems, intended for users who have little or no experience with Unix or Linux. We will cover material that will help you develop an understanding of the Linux command-line environment, necessary for successful use of the SHARCNET environment, including basic commands for file/directory management. Furthermore, the key hands-on tutorial with shell script programming will be practiced for better usage in our SHARCNET systems.</p>
        </article>

        <article>
            <h5 id="high">Introduction to High Performance Computing</h5>
            <p>This session will provide an introduction to basic concepts of high performance computing (HPC). It is intended to be a high-level primer for those largely new to HPC, and serve as a foundation upon which to build over to the second day of the workshop. Topics will include motivation for HPC, essential issues, problem characteristics as they apply to parallelism and a high-level overview of parallel programming models. Strategies of running large sets of serial processes will also be presented.</p>
        </article>

        <article>
            <h5 id="multi">Programming Shared-Memory Systems with Open Multi-Processing</h5>
            <p>Open Multi-Processing (OpenMP) is a standard compiler extension for parallel programming on shared memory systems. This introductory course will teach the key OpenMP concepts and coding through examples. Demos and hands-on exercises are expected during the half-day course. Topics include an introduction to OpenMP and the shared-memory model; the SHARCNET environment, and compilers and tools for OpenMP; OpenMP directives; OpenMP synchronization, library routines, and environment variables; and case studies.</p>
        </article>

        <article>
            <h5 id="interface">Programming Clusters with Message Passing Interface</h5>
            <p>In this half-day course, through lectures interspersed with hands-on exercises, the students will learn the basics of Message Passing Interface (MPI) programming using C. Examples and exercises will be based on parallelization of common scientific computing problems.</p>
        </article>
    </div>
</section>